.home-container {
  .home-header {
    background: #fff;
    width: calc(100% - 40rpx);
    margin: 0 20rpx;
    border-radius: 10rpx;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    padding: 20rpx 20rpx 20rpx 20rpx;
    border-bottom: 1rpx solid #eae3e3;
    align-items: center;
    .weather {
      font-size: 12px;
      color: #565454;
      .temperature {
        font-size: 10px;
      }
    }
    .search {
      margin: 0 20rpx;
      flex: 1;
      .t-input {
        border-radius: 30rpx;
        padding: 2rpx 10rpx;
        border: 1rpx solid #ecebec;
        input {
          font-size: 12px;
        }
      }
    }
  }
  .home-content {
    margin-top: 110rpx;
    width: 100%;
    .t-skeleton {
      border: 1rpx solid #eae3e3;
      padding: 20rpx;
      border-radius: 20rpx;
    }
  }
}